In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

In [4]:
google = pd.read_csv('strata_data-master/data/goog.csv', index_col = 'Date', parse_dates=True)
google

              Open    High     Low   Close     Volume
Date
2010-01-04  313.16  314.44  311.81  313.06        NaN
2010-01-05  313.28  313.61  310.46  311.68        NaN
2010-01-06  312.62  312.62  302.88  303.83        NaN
2010-01-07  304.40  304.70  296.03  296.75        NaN
2010-01-08  295.70  301.32  294.26  300.71        NaN
...            ...     ...     ...     ...        ...
2014-12-24  530.51  531.76  527.02  528.77   704035.0
2014-12-26  528.77  534.25  527.31  534.03  1037727.0
2014-12-29  532.19  535.48  530.01  530.33  2276104.0
2014-12-30  528.09  531.15  527.13  530.42   873923.0
2014-12-31  531.25  532.60  525.80  526.40  1371819.0

[1257 rows x 5 columns]

In [5]:
type(google)

pandas.core.frame.DataFrame

In [6]:
google.head()

              Open    High     Low   Close  Volume
Date
2010-01-04  313.16  314.44  311.81  313.06     NaN
2010-01-05  313.28  313.61  310.46  311.68     NaN
2010-01-06  312.62  312.62  302.88  303.83     NaN
2010-01-07  304.40  304.70  296.03  296.75     NaN
2010-01-08  295.70  301.32  294.26  300.71     NaN

In [8]:
google.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2010-01-04 to 2014-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  194 non-null    float64
dtypes: float64(5)
memory usage: 58.9 KB

In [9]:
google['Open']

Date
2010-01-04    313.16
2010-01-05    313.28
2010-01-06    312.62
2010-01-07    304.40
2010-01-08    295.70
               ...
2014-12-24    530.51
2014-12-26    528.77
2014-12-29    532.19
2014-12-30    528.09
2014-12-31    531.25
Name: Open, Length: 1257, dtype: float64

In [10]:
google['Open'].iloc[0:5]

Date
2010-01-04    313.16
2010-01-05    313.28
2010-01-06    312.62
2010-01-07    304.40
2010-01-08    295.70
Name: Open, dtype: float64

In [13]:
google.loc['2010-01-04': '2010-01-08', 'Open']

Date
2010-01-04    313.16
2010-01-05    313.28
2010-01-06    312.62
2010-01-07    304.40
2010-01-08    295.70
Name: Open, dtype: float64

In [18]:
google_up = google[google['Close'] > google['Open']]
google_up.head()

              Open    High     Low   Close  Volume
Date
2010-01-08  295.70  301.32  294.26  300.71     NaN
2010-01-13  287.96  293.90  286.66  293.25     NaN
2010-01-14  291.66  296.80  291.11  294.63     NaN
2010-01-19  290.45  294.91  287.86  293.52     NaN
2010-01-26  268.72  274.53  267.88  270.94     NaN

In [20]:
# Filtering out missing data 
google_filtered = google[pd.isnull(google['Volume']) == False]
google_filtered.head()

              Open    High     Low   Close     Volume
Date
2014-03-27  564.86  565.40  550.50  556.58  3826676.0
2014-03-28  558.94  566.03  558.33  559.51  2258918.0
2014-03-31  564.63  566.93  555.87  556.70  1942277.0
2014-04-01  559.57  568.18  558.44  566.88  2182626.0
2014-04-02  282.43  571.83  561.44  566.98  2088804.0

In [21]:
google.describe()

              Open         High          Low        Close        Volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.940000e+02
mean    375.275593   378.450247   372.132474   375.327064  1.937264e+06
std     115.684354   116.288827   114.935742   115.664301  9.842775e+05
min     218.940000   220.920000   216.600000   217.820000  7.040350e+05
25%     285.790000   288.760000   283.060000   285.450000  1.338451e+06
50%     318.330000   320.800000   315.180000   317.260000  1.684634e+06
75%     452.540000   456.020000   449.740000   452.830000  2.164369e+06
max     612.790000   613.830000   608.690000   609.470000  6.795393e+06

In [22]:
# Compute the returns from daily percent change
google['Return'] = google['Close'].pct_change()
google['Return'].iloc[0:5]

Date
2010-01-04         NaN
2010-01-05   -0.004408
2010-01-06   -0.025186
2010-01-07   -0.023303
2010-01-08    0.013345
Name: Return, dtype: float64

In [24]:
# Compute the log of the return using numpy
google['LogReturn'] = np.log(1+google['Return'])
google['LogReturn'].iloc[0:5]

Date
2010-01-04         NaN
2010-01-05   -0.004418
2010-01-06   -0.025509
2010-01-07   -0.023578
2010-01-08    0.013256
Name: LogReturn, dtype: float64

In [28]:
# Rolling_std has been depreciated with no suitable replacement able to be found

window_size = 252
google['Volatility'] = pd.rolling(google['LogReturn'], window = window_size) * np.sqrt(window_size)
google['Volatility'].iloc[window_size-5:window_size+5]
google[['Close', 'Volatility']].plot(subplots=True, figsize=(15,6))

AttributeError: module 'pandas' has no attribute 'rolling'

In [29]:
file = 'strata_data-master/data/exoplanets.csv'
data = pd.read_csv(file)
series = data['NAME']

print('\n')
print(series)

print('\n')
print(type(series))

0          gamma Cep b
1          HD 114762 b
2       PSR B1257+12 B
3       PSR B1257+12 A
4           beta Gem b
             ...
1637         HD 5319 c
1638         WASP-89 b
1639         HD 1666 b
1640        HD 95127 b
1641      Kepler-432 c
Name: NAME, Length: 1642, dtype: object


<class 'pandas.core.series.Series'>

In [31]:
new_list = [5, 10, 15, 20, 25]
pd.Series(new_list)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [35]:
new_dictionary = {'b': 100, 'a': 200.0, 'd': 450, 'c': 700}
pd.Series(new_dictionary)

b    100.0
a    200.0
d    450.0
c    700.0
dtype: float64

In [39]:
array1 = np.arange(1,6)*10.0
series1 = pd.Series(array1)

series1.index

RangeIndex(start=0, stop=5, step=1)

In [45]:
index2 = ['a', 'b', 'c', 'd', 'a']
series2 = pd.Series(np.arange(1,6)*10, index=index2)

In [46]:
series2.loc['b']

20

In [47]:
series2.loc['a']

a    10
a    50
dtype: int32

In [48]:
for key, value in series2.iteritems():
    print(key, value)

a 10
b 20
c 30
d 40
a 50

In [49]:
series1.iloc[1:3]

1    20.0
2    30.0
dtype: float64

In [50]:
print(series2.iloc[1:2])
print("\n")
print(series2.loc['b':'c'])

b    20
dtype: int32


b    20
c    30
dtype: int32

In [51]:
series2.iloc[-1]

50

In [52]:
series2.iloc[:-3]

a    10
b    20
dtype: int32

In [53]:
series2.loc['d':'b':-2]

d    40
b    20
dtype: int32